.btn-start-command {
    display: flex; 
    justify-content: center;
    position: relative;
    top: 50.688vw;
    text-transform: uppercase;
    font-family: 'Fira Code', monospace, sans-serif;
    line-height: 20px;
    font-weight: 401;
}