.text-footer-title {
    font-family: 'Roboto-Regular', sans-serif;
    font-size: large;
    text-transform: uppercase;
}

.container-footer-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.display-total {
    color: #000;
    background-color: #d0c7c7;
}

.payment {
    background-color: red;
}

.footer {
    background: transparent;
}