.toolbar {
  display: flex;
  justify-content: flex-end;
}

.svg-span svg {
  color: #e7a74e;
  fill: #e7a74e;
}

.rating {
  color: #e7a74e;
  margin-left: 5px;
  margin-right: 5px;
  font-weight: bold;
}

.bar-icon {
  min-width: 64px;
  margin-right: 5.5vw;
}

:host ::ng-deep .mat-list-base .mat-list-item .mat-list-item-content {
  flex-direction: row-reverse;
}

.minutes {
  font-weight: 300;
  color: #717171;
  font-size: 0.875rem;
  line-height: 0.9375rem;
}

.flex-fill {
  display: flex;
  flex: 1;
}

.btn-start-command {
  display: flex; 
  justify-content: center;
  position: relative;
  text-transform: uppercase;
  font-family: 'Fira Code', monospace, sans-serif;
  line-height: 20px;
  font-weight: 401;
  flex: 1;
  align-items: center;
}

.commander-init-button {
  width: 39vw;
  height: 39vw;
  border-radius: 6px;
  border: 3px solid #333;
  display: flex;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.commander-init-button svg {
  width: 14vw;
  height: 14vw;
}

.commander-init-button svg * {
  fill: #333;
}

.commander-init-button span {
  color: #333;
  font-weight: bold;
  font-size: .9em;
  text-transform: uppercase;
  letter-spacing: -0.4px;
  margin-top: 3vw;
  font-family: 'Roboto-Black',sans-serif;
}

.svg-header-waves {
  transform: rotate(180deg);
  min-width: 100vw;
  min-height: 25.061vw;
  position: fixed;
  top: 0;
  left: 0;
}

.svg-header-waves * {
  fill: #6670e0;
}

.scroll-container-item {
  flex: 1;
  overflow-y: auto;
}

.main-container-pos {
  width: 100vw; 
  height: 100vh; 
  max-height: 100vh; 
  display: flex; 
  flex-direction: column; 
  justify-content: space-between;
}