
<div class="toolbar" (click)="appController.navigate('settings');">
  <i class="material-icons" style="font-size: 45px !important;">account_circle</i>
</div>

<ion-content>

  <super-tabs (tabChange)="onTabChange($event)">
    <super-tabs-toolbar slot="top" style="background-color: gray !important;">

      <super-tab-button>
        <ion-icon name="home" style="color: black;"></ion-icon>
        <ion-label style="color: black;">Iniciar</ion-label>
      </super-tab-button>

      <super-tab-button>
        <ion-icon name="restaurant" style="color: black;"></ion-icon>
        <ion-label style="color: black;">Restaurantes</ion-label>
      </super-tab-button>

    </super-tabs-toolbar>


    <super-tabs-container>

      <super-tab>
        <!-- <ion-nav [root]="tabInicio" [rootParams]="{ data: 'funciona' }" ></ion-nav> -->
        <p>Tab 1 sendo renderizada</p>
      </super-tab>

      <super-tab>
        <!-- <ion-nav [root]="tabRestaurantes"></ion-nav> -->
        <!-- <p>Tab 2 (DOIS) sendo renderizada</p> -->

        <mat-list>

          <mat-list-item>
            <h4 mat-line style="padding: 0 0 2px;">Quiosque do Galego</h4>
            <p mat-line style="line-height: 20px; color: #717171;">
                <span class="svg-span">
                  <svg width="10" height="10" viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg"><path d="M5.483.314l1.128 2.39a.54.54 0 0 0 .405.308l2.522.383c.442.067.618.635.299.96l-1.825 1.86a.58.58 0 0 0-.155.499l.43 2.626c.076.46-.386.811-.78.594L5.25 8.694a.518.518 0 0 0-.502 0l-2.255 1.24c-.395.217-.857-.134-.782-.594l.431-2.626a.58.58 0 0 0-.155-.499L.163 4.355c-.32-.326-.143-.893.299-.96l2.522-.383a.54.54 0 0 0 .405-.308L4.517.314a.528.528 0 0 1 .966 0z"></path></svg>
                  <a class="rating" >{{ rating }}</a> 
                </span> 
                • Bar e Restaurante • 2 km </p>
          </mat-list-item>

        </mat-list>
        

      </super-tab>

    </super-tabs-container>
  </super-tabs>

</ion-content>