<div class="toolbar">
  <i class="material-icons" (click)="appController.navigate('settings');"
    style="font-size: 45px !important;">account_circle</i>
</div>

<ion-content>

  <div style="width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: space-between;">
    <div style="width: 100%; height: 60px; display: flex;">
      <div (click)="handleSwitch('command')"
        style="flex: 1; background-color: green; color: #fff; font-weight: bold; display: flex; align-items: center; justify-content: center;">
        Comanda
      </div>
      <div (click)="handleSwitch('establishments')"
        style="flex: 1; background-color: green; border-left: 1px solid #fff; border-right: 1px solid #fff; color: #fff; font-weight: bold; display: flex; align-items: center; justify-content: center;">
        Restaurantes
      </div>
      <div (click)="handleSwitch('orders')"
        style="flex: 1; background-color: green; color: #fff; font-weight: bold; display: flex; align-items: center; justify-content: center;">
        Pedidos
      </div>
    </div>

    <ng-container [ngSwitch]="switchVar">
      <div *ngSwitchCase="'start'" style="flex: 1;">
        <div class="btn-start-command">
          <ion-button color="tertiary" expand="block" (click)="startCommand();">Iniciar Comanda</ion-button>
        </div>
      </div>

      <div *ngSwitchCase="'establishments'" style="flex: 1;">
        <app-list-establishment></app-list-establishment>
      </div>

      <div *ngSwitchCase="'orders'" style="flex: 1;">
        <!-- <ngx-qrcode [qrc-value]="qrDataFill" [qrc-element-type]="'img'"></ngx-qrcode> -->
        <!-- <app-my-orders></app-my-orders> -->
      </div>
    </ng-container>

    <ion-fab *ngIf="switchVar !== 'command'" vertical="bottom" style="margin: 0 1vh 8vh 0;" horizontal="end" edge slot="fixed">
      <ion-fab-button (click)="startCommand();">
        <ion-icon name="play"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>


</ion-content>