
.indicator {
  background: black;
}

.toolbar {
  display: flex;
  justify-content: flex-end;
}

.star {
  color: #e7a74e;
  font-size: 1.2rem;
  font-weight: bold;
}

.svg-span svg {
  color: #e7a74e;
  fill: #e7a74e;
}

.rating {
  color: #e7a74e;
  margin-left: 5px;
  margin-right: 5px;
  font-weight: bold;
}

.restaurant-card {
  border: 1px solid #f2f2f2;
  display: grid;
  transition: 200ms;
  height: 90px;
  padding: 12px;
  border-radius: 4px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.05);
  text-decoration: none;
  width: 100%;
  grid-template-columns: 60px 1px 1fr;
  grid-template-rows: 1fr 20px;
  grid-template-areas:
    'figure divider title'
    'figure divider content';
  grid-column-gap: 12px;
}

.restaurant-card__img-logo {
  width: 54px;
  height: 54px;
  border-radius: 4px;
  transition: 200ms;
  -o-object-fit: contain;
  object-fit: contain;
}
