<ion-content>

    <ion-toolbar style="text-align: center;" color="primary">
        <div style="display: flex; flex-direction: row;">
            <ion-title size="large">Comanda de {{ products[0].created_at | date }}</ion-title>
            <svg (click)="modalCtrl.dismiss();" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 512 512" style="enable-background:new 0 0 512 512; width: 40px; height: 40px; padding-right: 8px;" xml:space="preserve">
       <g>
           <g>
               <path d="M490.667,85.333h-64v-64C426.667,9.557,417.131,0,405.333,0h-384C9.536,0,0,9.557,0,21.333V448
                   c0,11.797,9.536,21.333,21.333,21.333h64v21.333c0,11.797,9.536,21.333,21.333,21.333h384c11.797,0,21.333-9.536,21.333-21.333
                   v-384C512,94.891,502.464,85.333,490.667,85.333z M85.333,106.667v320H42.667v-384H384v42.667H106.667
                   C94.869,85.333,85.333,94.891,85.333,106.667z M389.163,359.019c8.341,8.341,8.341,21.845,0,30.165
                   c-4.16,4.16-9.621,6.251-15.083,6.251s-10.923-2.091-15.083-6.251l-60.331-60.331l-60.331,60.331
                   c-4.181,4.16-9.621,6.251-15.083,6.251c-5.461,0-10.923-2.091-15.083-6.251c-8.341-8.32-8.341-21.824,0-30.165l60.331-60.352
                   l-60.331-60.331c-8.341-8.341-8.341-21.845,0-30.165c8.32-8.341,21.824-8.341,30.165,0l60.331,60.331l60.331-60.331
                   c8.341-8.341,21.824-8.341,30.165,0c8.341,8.32,8.341,21.824,0,30.165l-60.331,60.331L389.163,359.019z"/>
           </g>
       </g>
       <g>
       </g>
       <g>
       </g>
       <g>
       </g>
       <g>
       </g>
       <g>
       </g>
       <g>
       </g>
       <g>
       </g>
       <g>
       </g>
       <g>
       </g>
       <g>
       </g>
       <g>
       </g>
       <g>
       </g>
       <g>
       </g>
       <g>
       </g>
       <g>
       </g>
       </svg>
       


        </div>
    </ion-toolbar>

    <ion-card *ngFor="let p of products">
        <ion-item>
            <div class="menu-content">
                <div class="menu-main-content">
                    <div class="img-container">
                        <img class="pic" [src]="p?.img" alt="">
                    </div>

                    <strong class="title"> {{ p?.title }} - {{ p?.price }} </strong>

                </div>

                <strong style="position: relative; right: 15px;">
                    x{{ p?.qtd }}
                </strong>

                <div class="btn-container">
                    <strong>R$ {{ p?.price }}</strong>
                </div>

            </div>

        </ion-item>

        <ion-card-content>Pedido realizado por: {{ globalVars.getUserLoggedIn().name }}</ion-card-content>
    </ion-card>

</ion-content>