<ion-content>

    <ion-card *ngFor="let p of products">
        <ion-item>
            <div class="menu-content">
                <div class="menu-main-content">
                    <div class="img-container">
                        <img class="pic" [src]="p?.img" alt="">
                    </div>

                    <strong class="title"> {{ p?.title }} - {{ p?.price }} </strong>
                </div>

                <div class="btn-container">
                    <button class="btn-item" (click)="removeItem(p);">
                        <ion-icon class="add-remove-btn" ios="ios-remove" md="md-remove">
                        </ion-icon>
                    </button>
                    <button class="btn-item" (click)="addItem(p);">
                        <ion-icon class="add-remove-btn" ios="ios-add" md="md-add"></ion-icon>
                    </button>
                </div>
            </div>

        </ion-item>

        <ion-card-content>{{ p?.description }}</ion-card-content>
    </ion-card>
</ion-content>

<div class="footer" [class.disabled-content]="!footerDisplayTotal">
    <p class="btn-add-to-table">Adicionar a mesa
        <i class="fa fa-money" *ngIf="footerDisplayTotal" aria-hidden="true">{{ footerDisplayTotal }}</i> 
        
    </p>
    
</div>