.svg-span svg {
    color: #e7a74e;
    fill: #e7a74e;
}

.rating {
    color: #e7a74e;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: bold;
}

.bar-icon {
    min-width: 64px;
    margin-right: 5.5vw;
}

:host ::ng-deep .mat-list-base .mat-list-item {
    flex-direction: row-reverse;
}

.mat-list .mat-list-item {
    height: 85px; /* default is 72px */
}

.minutes {
    font-weight: 300;
    color: #717171;
    font-size: 0.875rem;
    line-height: 0.9375rem;
}