<div class="action-sheet-default">
    <ion-toolbar>
        <ion-title size="small">Digite sua senha</ion-title>
    </ion-toolbar>

    <div class="password-bullets">
        <div class="password-item"></div>
        <div class="password-item"></div>
        <div class="password-item"></div>
        <div class="password-item"></div>
        <div class="password-item"></div>
        <div class="password-item"></div>
    </div>

    <form [formGroup]="forms" novalidate> <!--(ngSubmit)="confirm()"-->
        <input id="email" formControlName="email" type="email" class="input-hidden">
        <input formControlName="password" autofocus="true" maxlength="6" (keyup)="handleInputType($event)" type="text" inputmode="numeric" pattern="[0-9]*" class="input-hidden">
    </form>
</div>