
    .action-sheet-default {
        padding: 0 20px 50px 3px;
        border-radius: 16px 16px 0 0;
        background-color: #fff;
        overflow: hidden;
    }

    .password-bullets {
        display: flex;
        align-items: center;
        padding-left: 33px;
    }

    .password-item {
        width: 18px;
        height: 18px;
        background-color: #413c3c;
        border: 0px #413c3c;
        transition: .3s;
        margin-right: 18px;
        -webkit-border-radius: 50%;
        border-radius: 50%;
    }

    .password-item.active-js {
        background-color: rgb(221, 171, 102);
        border-width: 4px;
        box-sizing: content-box;
        width: 15px;
        height: 15px;
    }

    .input-hidden {
        position: fixed;
        z-index: -2;
        opacity: 0;
        pointer-events: none;
    }

    ::ng-deep .mat-form-field-underline, ::ng-deep .mat-form-field-ripple {
        background-color: transparent;
        opacity: 0;
    }