<div class="action-sheet-default" (click)="inputFocus.nativeElement.focus();">
    <ion-toolbar>
        <ion-title size="small">Digite sua senha</ion-title>
    </ion-toolbar>

    <div class="password-bullets">
        <div *ngFor="let item of inputValidate; index as i;" [ngClass]="{'active-js': inputValidate[i]}"
            class="password-item"></div>
    </div>

    <form [formGroup]="forms" novalidate>
        <input id="email" formControlName="email" type="email" class="input-hidden">
        <mat-form-field>
            <input #inputHidden class="input-hidden" matInput matInputAutofocus formControlName="password" maxlength="6"
                (keyup)="handleInputType($event)" inputmode="numeric" pattern="[0-9]*">
        </mat-form-field>
    </form>
</div>