.recovery-pass {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.footer {
    background-color: #000000;
}

.fonte-rodape {
    font-weight: 350px;
    margin-left: 10px;    
}

.footer-container {
    display: flex;
    justify-content: center;
}
