<ion-toolbar style="text-align: center;" color="primary">
    <div style="display: flex; flex-direction: row;">
        <svg (click)="navCtrl.pop();" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="auto" height="40px"
            viewBox="0 0 400.004 400.004"
            style="enable-background:new 0 0 400.004 400.004; width: auto; height: 24px; margin-left: 16px;"
            xml:space="preserve">
            <g>
                <path
                    d="M382.688,182.686H59.116l77.209-77.214c6.764-6.76,6.764-17.726,0-24.485c-6.764-6.764-17.73-6.764-24.484,0L5.073,187.757 c-6.764,6.76-6.764,17.727,0,24.485l106.768,106.775c3.381,3.383,7.812,5.072,12.242,5.072c4.43,0,8.861-1.689,12.242-5.072 c6.764-6.76,6.764-17.726,0-24.484l-77.209-77.218h323.572c9.562,0,17.316-7.753,17.316-17.315 C400.004,190.438,392.251,182.686,382.688,182.686z"
                    fill="#fff" />
            </g>
        </svg>
        <ion-title size="large" class="title-item">Login</ion-title>
    </div>
</ion-toolbar>

<ion-content>

    <form [formGroup]="forms" novalidate>
        <ion-item>
            <ion-label color="primary" position="stacked">Digite seu email*</ion-label>
            <ion-input id="email" type="email" pattern="" formControlName="email" placeholder="Ex: gabriel@gmail.com">
            </ion-input>
        </ion-item>
    </form>

    <div class="recovery-pass">
        <a style="color: #3a7dfa; font-family: sans-serif;">Esqueci a senha</a>
    </div>

</ion-content>

<ion-footer style="background: #6670e0;" [class.disabled-content]="!forms.valid" class="footer">
    <ion-toolbar (click)="forms.valid ? presentModalPass() : null">
        <ion-buttons class="footer-container" end>
            <ion-button ion-button icon-right style="color: #6670e0;">
                AVANÇAR
            </ion-button>
            <ion-icon style="color: #6670e0;" name="send"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>