
<ion-content>
    
    <div class="_25-top-verticaly-center">
        <ion-img style="max-width: 120px;" [src]="'../../../assets/imgs/default.jpg'"></ion-img>
    </div>

    <ion-row style="justify-content: center; margin-top: 80%;">
        <button ion-button class="botao-fb" full>
            <ion-icon name="logo-facebook"></ion-icon>
            <p class="texto-botao-login">Login</p>
        </button>
    
        <!-- <button ion-button block class="botao-google" style="color: blanchedalmond;;">
            <ion-icon name="logo-googleplus"></ion-icon>
            Entrar com o Google
        </button> -->

        <a href="#" class="google btn">
                <i class="fa fa-google fa-fw">
                        Login with Google+
                    </i>
            <!-- <ion-icon name="logo-google"></ion-icon> -->
        </a>


    </ion-row>



</ion-content>