
<ion-content>
    
    <div class="_25-top-verticaly-center">
        <ion-img style="max-width: 120px;" [src]="'../../../assets/imgs/default.jpg'"></ion-img>
    </div>

    <div class="col">
       
    </div>
    

    <ion-row style="justify-content: center; margin-top: 85%;">

        <ion-button class="login" expand="block" fill="outline">Login</ion-button>

        <button ion-button block class="google btn" (click)="loginGoogle()">
            <i class="fa fa-google fa-fw">
            </i>GOOGLE
        </button>
    </ion-row>


    <div class="sign-up">
        <a href="#" style="color:#3a7dfa; font-family: sans-serif;">Não sou cadastrado</a>
    </div>
    


</ion-content>