/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


    * {
        font-family: 'Roboto-Regular',sans-serif;
    }

    .modal-footer .modal-wrapper {
        --background: transparent;
        pointer-events: none;
    }

    .modal-footer .modal-wrapper .ion-page {
        pointer-events: none;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .modal-footer .modal-wrapper .ion-page > * {
        pointer-events: all;
    }

    .action-sheet-default {
        padding: 0 20px 50px 3px;
        border-radius: 16px 16px 0 0;
        background-color: #fff;
        overflow: hidden;
    }

    .modal-center .modal-wrapper .ion-page {
        pointer-events: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .modal-center .modal-wrapper {
        --background: transparent;
        pointer-events: none;
    }

    .modal-center .modal-wrapper .ion-page > * {
        pointer-events: all;
    }

    .modal-centering {
        padding: 3px 5px 5px 5px;
        border-radius: 16px;
        background-color: #fff;
        overflow: hidden;
        width: 72.222vw;
    }

    .toast-warning {
        color: #000;
    }

